@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

.welcome {
  font-size: 2.5rem;
  font-family: "Patrick Hand", cursive;
}

.signup-redirect {
  font-size: 2rem;
  font-family: "Patrick Hand", cursive;
}

.emp-signup,
.dev-signup {
  font-size: 1rem;
}
