@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@500&display=swap");

.login-header {
  font-size: 2.5rem;
  font-family: "IBM Plex Sans KR", sans-serif;
  margin-bottom: 2rem;
}
